.container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login_container,
.container {
  display: flex;
}

.login_container {
  width: 30%;
  height: 40%;
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/************************ input box css ************************* */

.input_box {
  border-radius: 10px;
  border: 1px solid black;
  width: 80%;
  height: 30px;
  overflow: hidden;
}
.input_box > input {
  width: 97%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 18px;
}

.input_box > input:focus {
  outline: none;
}

/************************ ********** *************************** */

.button_box {
  width: 80%;
  display: flex;
}

.radio{
  display: flex;
}